[submodule "bundle/vim-trailing-whitespace"]
	path = bundle/vim-trailing-whitespace
	url = https://github.com/bronson/vim-trailing-whitespace.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
